@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

h1, h3, p, ul, h4 {
    margin: 0;
}

.first-section, .footer {
    background-color: #1F2937;
}

.first-section {
    padding: 16px 200px;
}

.header, .content, ul, .img-placeholder, .container, .item, .third-section, .fourth-section, .action-box, .footer {
    display: flex;
}

.header, .content, .img-placeholder, .third-section, .fourth-section, .action-box {
    align-items: center;
}

.header {
    justify-content: space-between;
}

.left-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.content p, .links {
    color: #e5e7ebbf;
}

p {
    font-size: 18px;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    gap: 32px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: 0;
}

.content {
    padding: 112px 0;
    gap: 64px;
    justify-content: space-between;
}

.img-placeholder {
    background-color: #6D747D;
    justify-content: center;
    flex-grow: 1;
    height: 240px;
}

.left-content {
    width: 460px;
}

.left-content p {
    margin-bottom: 16px;
}

.second-section {
    text-align: center;
    margin-bottom: 140px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 64px 0;
}

.illu-placeholder {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.container {
    justify-content: center;
    gap: 48px;
}

.item {
    max-width: 175px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.third-section {
    justify-content: center;
    background-color: #E5E7EB;
    padding: 120px 350px;
}

.quote p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2837;
}

.quote h4 {
    text-align: end;
    margin-right: 32px;
    font-size: 24px;
}

.fourth-section, .footer {
    justify-content: center;
}

.fourth-section {
    padding: 100px 0;
}

.action-box {
    gap: 160px;
    background-color: #3882F6;
    padding: 60px 160px; 
    color: white;
    border-radius: 8px;
}

.action-box p {
    font-weight: 100;
}

.action-box h4 {
    font-size: 24px;
}

.action-box button {
    border: 2px solid white;
}

.footer {
    padding: 40px 0;
    color: white;
    font-weight: 300;
}

